.container {
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1A1A1A;
  padding: 10px;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
}

.text {
  margin: 5px 0;
  font-size: 1rem;
  color: #E0E0E0;
}