.taskList {
  list-style-type: none;
  padding: 0;
}

.taskItem {
  margin-bottom: 10px;
  border: 1px solid #555;
  padding: 15px;
  border-radius: 5px;
  background-color: #242424;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.taskDetails {
  text-decoration: none;
}

.taskDetails.concluida {
  text-decoration: line-through;
  color: #888;
}

.taskTitle {
  margin: 0;
  font-size: 1.2rem;
}

.taskDescription {
  margin: 5px 0;
  color: #AAA;
}

.taskDate {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #888;
}

.statusButton {
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
  margin-top: 10px;
  color: #fff;
}

.statusButton.concluir {
  background-color: #4caf50;
}

.statusButton.desfazer {
  background-color: #ff9800;
}

.removeButton {
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
  margin-top: 10px;
  color: #fff;
  background-color: #f44336;
  margin-left: 10px;
}
